<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A Procession of Dreams.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>147653381BC1C21200280D36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1476534C1BC1C21200280D36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>147653571BC1C21200280D36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
